
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: whitesmoke;
}

form{
  background-color: white;
  padding: 20px;
  border: 1px solid 7C776E;
  max-width: 100%;
}
.containerHead{
    color: #724E31;
    font-weight: bold;
    text-align: start;
    margin-left: 20px;
}
.or{
    margin-left: 20px;
    margin-right: 20px;
}
.googleLogin{
    display: flex;
    height: 32px;
    width: 600px;
    padding: 7px 171px 7px 237px;
    margin: 7px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #7C776E;
    background-color: #FFFFFF; /* Set background color */
    color: #000000; /* Set text color */
    cursor: pointer;
}

.google{
  display: flex;
  justify-content: center;
  align-items: center;
}
.googleLogo{
    width: 20px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px; /* Adjust the margin as needed */
}

.or{
    font-weight: bold;
    font-size: 20px;
}
.dividingLine{
  display: flex;
    margin: 10px;
}

.inputs{
    margin-left: 30px;
}

.inputs2{
    margin-left: 30px;
   
}
.inputHeading {
    display: block;
    width: 100%; /* Make the heading take the full width of its container */
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-align: left; /* Set text alignment to left */
    margin-bottom: 5px; /* Adjust margin as needed */
    margin-top: 15px;
  }

  .inputBox {
    display: flex;
    width: 95%;
    height: 35px;
    padding: 6px 152px 6px 18px;
    align-items: center;
    border: none;
    text-align: start;
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
    background: rgba(237, 227, 227, 0.74);
  }

  .customButton {
    margin-top: 20px;
    width: 550px;
    height: 33px;
    padding: 5px ;
    display: block;
    text-align: center;
    border-radius: 5px;
    font-weight:normal;
    border: none;
    background: rgba(114, 78, 49, 0.74);
    color: white; /* You may need to adjust the text color for better visibility */
  }

  .createAcc{
    margin-top: 35px;
    font-size: 15px;
  }
.bttn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.bttn button{
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color:rgba(114, 78, 49, 0.74);
}

  ::placeholder{
    color: #A4A4A4;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
.line{
  width: 611px;
  height: 0px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.line svg{
  width: 617px;
  height: 6px;
}

@media (max-width: 1120px){
  .container{
    padding: 40px;
  }
  .googleLogin{
    width: 300px;
    padding: 0;
  }
  .customButton{
    width: 250px;
  }
  .line svg{
    width: 200px;
    height: 10px;
    margin-left: 50px;
    margin-top: 30px;
  }
}