.contact{
    background-image: url("../../public/image 4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
    margin-top:0px;
    height: 95vh;
    display: flex;
}

@media (max-width: 800px) {
    .contact ,.follow {
      flex-direction: column;
    }
    .image{
        display: none;
    }
    .inputFields{
        width: 12px;
    }
  }

.heading{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1rem;
}
.main{
    text-align: left;
}
.main-text{
    color:  #d97528;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4em;
}

.info{
    display:flex;
    text-align: center;
}

.info-text{
    font-size: 0.8rem;
}
@media (max-width: 800px) {
   .heading{
     font-size: 1.5rem;

   }
   .main-text{
     font-size: 1.2rem;
     margin: 0;
   }
   
  }

.follow{
    height: 30%;
    padding-top: 2%;
    box-shadow: 0px 0px 0px 2px  lightgray;
    display: flex;
}

.follow-text{
    color: #E36400;
}
.handles{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: #F4F4F4;
    
}

.handle{
    width: 261px;
    height: 60px;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align:left;
    box-shadow: 3px 3px whitesmoke;

}


@media (max-width: 800px) {
   .handle{
    width: 10rem;
    padding-bottom: 3%;
   }
  }

.handleText{
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: justified;

}

.knowMore{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;

}

.basic{
    text-align:left;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #5C5C5C;

}

.bar{
    color: #E36400;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
}

.about{
    background-color: #E36400;
    width: 180px;
    height: 60px;
    padding: 19px, 50px, 19px, 50px;
    border-radius: 10px;
    gap: 10px;
    border-style: solid;
    border-color:#E36400;
}

.aboutText{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: white;

}

.about:hover{
    box-shadow: 0px 0px 1px 1px #E36400;
}

.fleft{
    text-align: left;
}


.enquiry{
   height: 90vh;
   object-fit: cover;
}

.leftEnquiry{
    background-color: #E36400;
}

.enquiry-text{
    color: white;
    font-weight: 600;
    font-size: 2em;
}
.inputFields{
    
    width: 30rem;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid #737373


}

.enquiry-button{
    width: 20rem;
    height: 3rem;
    padding: 19px, 50px, 19px, 50px;
    gap: 10px;
    background-color: #D1D1D1;
    border: 1px solid #D1D1D1;
    border-radius: 7px;
}

.enquiry-button-text{
    color: black;
    font-weight: 500;
}
textarea{
    min-height: 280px;
}

.request-text{
    font-size: 5rem;
}

.request{
    font-size: 1.5rem;
    color:  #4F2300;
    font-weight: bold;

}

@media (max-width: 800px) {
    .inputFields{
       width: 12rem;
       
    }
    .request, .request-text, .design{
        display: none;
    }
    .enquiry-button{
        width: 8rem;
    }
   .enquiry-text{
    color: black;
   }
  }
