
/*---------- VEHICLE HEADER -----------*/


/*---------- VEHICLE FORM -----------*/

.insurance{
    background-color:  #F1E6DF;
    padding-bottom: 30px;
}

.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    margin-bottom: 20px;
}

.carr svg{
    margin-bottom: 20px;
}

.book-form{
    display: flex;
    background-color: #F1E6DF;
    padding-top: 70px;
    max-width: 100%;
}

.book-inputs{
    margin-left: 90px;
}

.forms{
    display: flex ;
    flex-direction: column;
    background-color: #F1E6DF;

}

.form-head{
    text-align: start;
    margin-left: 80px;
}

.in{
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid;
    display: flex;
width: 695px;
height: 50px;
padding: 13px 50px 13px 22px;
align-items: center;
flex-shrink: 0;
}

.in2{
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid;
    display: flex;
width: 220px;
height: 50px;
padding: 13px 15px 13px 22px;
align-items: center;
flex-shrink: 0;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
}

.btton{
    margin-top: 40px;
    display: inline-flex;
padding: 10px 20px;
width: 20%;
justify-content: center;
color: white;
align-items: center;
gap: 10px;
border-radius: 10px;
border: none;
background-color:  #724E31;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.box{
    position: absolute;
    top: 80%;
    right: 0px;
}

.insurance-head{
    display: flex;
    padding-top: 40px ;
    text-align: start;
}  

.head{
    text-align: start;
    margin-left: 60px;
}

.head-img{
    margin-left: 25%;
    margin-right: 10px;
    color: var(--Gray, #5C5C5C);
text-align: justify;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
}

.head-para p{
    flex-shrink: 0;
    color: #5C5C5C;
text-align: start;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
}

.service{
    display: flex;
    justify-content: space-evenly;
    margin: 25px 105px;
}
.insurance-head{
    display: flex;
}

.card-head h2{
    text-align: center;
}

.card-head p{
    text-align: start;
}

@media (max-width: 1120px){
    .insurance-head{
        padding-right: 15px;
        flex-direction: column;
    }
    .head-img{
        display: none;
    }
    .services{
        flex-direction: column;
    }
    .head-para{
        margin-left: 60px;
    }
    .card-head{
        padding: 30px;
    }
    .card-head h2{
        margin-right: 50px;
        font-size: 25px;
    }
    .card-head p{
        display: none;
    }
    .book-image{
        display: none;
    }
    .form-head{
        margin-left: 50px;
    }
    .book-inputs{
        margin-left: 30px;
    }
    .in{
        width: 300px;
    }
    .btton{
        width: 35%;
    }
    .carr svg{
        margin-bottom: 0px;
    }
    .book-form{
        padding-top: 0;
    }
    .service{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px 30px;
    }
}